# Конфигурационные файлы с секретными данными
config/openai_config.json

# Игнорируем виртуальное окружение
venv/
*.pyc
__pycache__/

# Игнорируем логи и временные файлы
*.log
*.tmp
logs/
debug/

# Игнорируем базы данных и векторы (если не хотим загружать)
*.db
*.bin
*.sqlite
.env
github_integration.py

